<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>whitelimo</string>
	<key>CFBundleDisplayName</key>
	<string>whitelimo</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.jedipunkz.whitelimo</string>
	<key>CFBundleExecutable</key>
	<string>whitelimo</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@SHORT_VERSION@</string>
	<key>CFBundleVersion</key>
	<string>@BUILD_VERSION@</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<!-- whitelimo lives in the menu bar: no Dock icon, no application menu. -->
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>MIT License. https://github.com/jedipunkz/whitelimo</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<false/>
</dict>
</plist>
